.text {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: 70 300;
  stroke-dashoffset: 0;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  animation-delay: -6s;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
